<!DOCTYPE html>
{%load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{%static "css/demo.css"%}">

    <title></title>
  </head>
  <body>
<div class="container1" align="center">
  <h1>Chennai Jobs Information</h1>
</div>
<img src="{%static "images/chennaiflower.jpg"%}">
<img src="{%static "images/chennaihall.jpg"%}">
<img src="{%static "images/seachennai.jpg"%}">
<hr>
{% if Chennai_Jobs_list %}
<table class="tab">
<thead>
<th>Date</th>
<th>Company</th>
<th>Title</th>
<th>Elligibility</th>
<th>Address</th>
<th>Email</th>
<th>Phone No</th>


</thead>
{% for job in Chennai_Jobs_list %}
<tr>
<td>{{job.date}}</td>
<td>{{job.company}}</td>
<td>{{job.title}}</td>
<td>{{job.eligibility}}</td>
<td>{{job.address}}</td>
<td>{{job.email}}</td>
<td>{{job.phoneno}}</td>

</tr>
{% endfor %}
</table>
{%else%}
<p>No Jobs Records Found!!!</p>
{%endif%}
  </body>
</html>
