<html>
<head>

<title>print hello</title>

  </head>
  <style>
    h1{
      color:red;
    }
    table{
      border:1px solid red;
      font-size: 50px
    }
    tr:nth-of-type(even)
    {
      background: gray;
    }
    tr:nth-of-type(odd)
    {
      background: yellow;
    }
    </style>

<body>
  <h1>Welcome to Django world from template</h1>
  <h2>The Top Actres of 2018: </h2>
  <table>
    <th>Name</th>
    <th>Age</th>

    <tr>
      <td>Bikram</td>
      <td>36</td>
      </tr>
      <tr>
        <td>Pawan and puja</td>
        <td>44</td>
        </tr>
    </table>
  </body>







</html>
